<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">HSE Data Mining</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Новости</a></li>
        <li><a href="hackathons.html">Хакатоны</a></li>
        <li><a href="jobs.html">Вакансии</a></li>
        <li><a href="about.html">О нас</a></li>
        <li><a href="partners.html">Наши партнеры</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signup.html">Зарегистрироваться</a></li>
        <li><a href="login.html">Войти</a></li>
        <li><a href="#" data-toggle="modal" data-target="#user-profile">Арнольд Вессарамов</a></li>
        <li><a href="#">Выйти</a></li>
      </ul>
    </div>
  </div>
</nav>
{% include 'includables/user_profile_modal.html' %}
