<div class="container">
  <form class="form-horizontal" method="post">
    <div class="form-group">
      <div class="col-md-3 col-md-offset-2">
        <input class="form-control" type="password" id="password1" placeholder="Новый пароль">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 col-md-offset-2">
        <input class="form-control" type="password" id="password2" placeholder="Новый пароль еще раз">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 col-md-offset-2">
        <input class="btn btn-primary form-control" type="submit" value="Сохранить">
      </div>
    </div>
  </form>
</div>
