<div class="row">
  <form class="form-horizontal" method="post">
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4 text-right">
        <img class="img-circle" src="assets/img/no-profile-picture.jpg" height=150 width=150 border=0>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4 text-right">
        <label class="btn btn-default no-overflow-button" id="avatar">
            Сменить аватарку <input type="file" hidden>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-md-offset-3 control-label" for="first_name">Имя:</label>
      <div class="col-md-4">
        <input class="form-control" id="first_name" type="text" value="Арнольд">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-md-offset-3 control-label" for="last_name">Фамилия:</label>
      <div class="col-md-4">
        <input class="form-control" id="last_name" type="text" value="Вессарамов">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-md-offset-3 control-label" for="school">ВУЗ:</label>
      <div class="col-md-4">
        <input class="form-control" id="school" type="text" value="Первый Экономический">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-md-offset-3 control-label" for="interests">Интересы:</label>
      <div class="col-md-4">
        <input class="form-control" id="interests" type="text" value="Гороскопы, танцы, фотография">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 col-md-offset-3 control-label" for="birth-date">Дата рождения:</label>
      <div class="col-md-3">
        <input class="form-control" id="birth-date" type="text" value="17.04.1998">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 col-md-offset-3 control-label" for="gender">Пол:</label>
      <div class="col-md-3">
        <select class="form-control" id="gender" name="gender">
          <option>Женский</option>
          <option selected>Мужской</option>
          <option>Другой</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4">
        <input class="btn btn-primary form-control" type="submit" value="Сохранить">
      </div>
    </div>
  </form>
</div>
