<div class="modal fade" id="user-profile" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Профиль</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img class="img-circle img-responsive" src="assets/img/no-profile-picture.jpg" border=0>
            <h3 class="media-heading">Арнольд Вессарамов<br><small>партнер</small></h3>
          </div>
        </div>
        <hr>
        <label>ВУЗ:</label>
        <p class="text-left">Первый Экономический</p>
        <label>Интересы:</label>
        <p class="text-left">Гороскопы, танцы, фотография</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" href="account.html">Отредактировать</a>
      </div>
    </div>
  </div>
</div>
