<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            Тут название хакатона <small class="text-muted">(открыт)</small>
          </div>
          <div class="col-md-4 text-right">
            <a href="#">Отредактировать</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
        </p>
        <a href="#">Снять запись</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            Тут название хакатона <small class="text-muted">(открыт)</small>
          </div>
          <div class="col-md-4 text-right">
            <a href="#">Отредактировать</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
        </p>
        <a href="#">Снять запись</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            Тут название хакатона <small class="text-muted">(открыт)</small>
          </div>
          <div class="col-md-4 text-right">
            <a href="#">Отредактировать</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
        </p>
        <a href="#">Снять запись</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            Тут название хакатона <small class="text-muted">(закрыт)</small>
          </div>
          <div class="col-md-4 text-right">
            <a href="#">Отредактировать</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
          Тут длинное описание хакатона.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <ul class="pagination">
    <li><a href="#"><span class="glyphicon glyphicon-chevron-left" style="height: 18px"></span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">...10</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-chevron-right" style="height: 18px"></span></a></li>
  </ul>
</div>
