{% extends 'personal_info_editing_base.html' %}


{% block title %}
  Личный кабинет
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Личный кабинет</h1>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#user-hackathon-list">Мои хакатоны</a></li>
          <li><a data-toggle="tab" href="#personal-info">Общая информация</a></li>
          <li><a data-toggle="tab" href="#password-reset">Смена пароля</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="user-hackathon-list" style="margin-top: 30px">
            {% include 'includables/user_hackathons.html' %}
          </div>
          <div class="tab-pane fade" id="personal-info" style="margin-top: 30px">
            {% include 'includables/personal_info.html' %}
          </div>
          <div class="tab-pane fade" id="password-reset" style="margin-top: 30px">
            {% include 'includables/password_change.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
