<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | HSE Data Mining</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/base.css" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>
    {% include 'includables/navbar.html' %}
    <section class="content">
      {% block content %}
      {% endblock %}
    </section>
    {% block footer %}
      {% include 'includables/footer.html' %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() { 
        $(document).ready(function() {
          $('.navbar li.active').removeClass('active');
          $('.navbar li a[href="' + location.pathname.slice(1) + '"]').closest('li').addClass('active');
        });
      });
    </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
