{% extends 'base.html' %}


{% block title %}
  Пост с картинкой и длинным названием
{% endblock %}


{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/comment.css" rel="stylesheet">
  <link href="assets/css/blogpost.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel">
          <div class="panel-heading">
            <small><a href="#">Отредактировать</a></small>
            <div class="text-left">
              <div class="row">
                <div class="col-sm-9">
                  <h3 class="pull-left">Пост с картинкой и длинным названием</h3>
                </div>
                <div class="col-sm-3">
                  <h4 class="pull-right">
                    <small><em>30.07.2014</em></small>
                  </h4>
                </div>
              </div>
            </div>
            <span class="label label-default article-tag">Тег</span>
            <span class="label label-default article-tag">Или категория?</span>
            <span class="label label-default article-tag">А пробелы в названии можно?</span>
            <span class="label label-default article-tag">Тег</span>
            <span class="label label-default article-tag">Или категория?</span>
            <span class="label label-default article-tag">А пробелы в названии можно?</span>
          </div>
          <div class="panel-body">
            <div class="thumbnail">
              <img src="http://i.imgur.com/tAHVmXi.jpg">
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
            </p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <small><em>Источник: https://ru.wikipedia.org/wiki/Lorem_ipsum</em></small>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#user-profile">Арнольд Вассарамов</a>
              </div>
              <div class="col-md-3">
                <i class="material-icons small-icon">comment</i>
                <span>2</span>
              </div>
              <div class="col-md-3">
                <i class="material-icons small-icon">favorite</i>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <h3>Комментарии</h3>
        <div class="row">
          <div class="col-md-2">
            <div class="comment-thumbnail">
              <a href="#" data-toggle="modal" data-target="#user-profile">
                <img class="img-responsive img-circle" src="assets/img/no-profile-picture.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-10">
            <div class="panel panel-default comment-panel">
              <div class="panel-heading">
                <a href="#" data-toggle="modal" data-target="#user-profile">
                  <strong>Арнольд Вассарамов</strong>
                </a>
                <span class="text-muted">оставил комментарий 30.04.14</span>
              </div>
              <div class="panel-body">
                Вау круто ну ваще
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="comment-thumbnail">
              <a href="#" data-toggle="modal" data-target="#user-profile">
                <img class="img-responsive img-circle" src="assets/img/no-profile-picture.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-10">
            <div class="panel panel-default comment-panel">
              <div class="panel-heading">
                <a href="#" data-toggle="modal" data-target="#user-profile">
                  <strong>Арнольд Вассарамов</strong>
                </a>
                <span class="text-muted">оставил комментарий 30.04.14</span>
              </div>
              <div class="panel-body">
                Вау круто ну ваще
              </div>
            </div>
          </div>
        </div>
        <h3>Написать комментарий</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-2">
              <a href="#" data-toggle="modal" data-target="#user-profile">
                <img class="img-responsive img-circle" src="assets/img/no-profile-picture.jpg" border=0>
              </a>
            </div>
            <div class="col-md-10">
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-3 col-md-offset-9">
              <input class="btn btn-primary form-control" type="submit" value="Отправить">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
