{% extends 'base.html' %}



{% block title %}
  Новая запись
{% endblock %}


{% block stylesheets %}
  <link href="assets/css/image_upload_button.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="container">
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <h2>Новая запись</h2>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <input class="form-control" type="text" placeholder="Название" autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <textarea class="form-control" rows="2" placeholder="Описание"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-5">
          <label class="btn btn-default no-overflow-button" id="avatar">
              Загрузить обложку <input type="file" hidden>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <textarea class="form-control" rows="8" placeholder="Здесь будет текстовый редактор. Скорее всего CKEditor."></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <input class="form-control" type="text" placeholder="Теги, через запятую" autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <input class="form-control" type="text" placeholder="Источник" autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-5">
          <input class="btn btn-primary form-control" type="submit" value="Опубликовать">
        </div>
      </div>
    </form>
  </div>
{% endblock %}
