{% extends 'base.html' %}



{% block title %}
  Новый хакатон
{% endblock %}


{% block content %}
  <div class="container">
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <h2>Новый хакатон</h2>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <input class="form-control" type="text" placeholder="Название" autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <textarea class="form-control" rows="3" placeholder="Описание"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-5">
          <input class="btn btn-primary form-control" type="submit" value="Опубликовать">
        </div>
      </div>
    </form>
  </div>
{% endblock %}
