{% extends 'base.html' %}


{% block title %}
  Новости
{% endblock %}


{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/blogpost.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <a class="btn btn-primary" href="blogpost_form.html">Добавить пост</a>
        </div>
        <div id="postlist">
          <div class="panel">
            <div class="panel-heading">
              <div class="text-center">
                <div class="row">
                  <div class="col-sm-9">
                    <h3 class="pull-left">Пост без картинки</h3>
                  </div>
                  <div class="col-sm-3">
                    <h4 class="pull-right">
                      <small><em>30.07.2014</em></small>
                    </h4>
                  </div>
                </div>
              </div>
              <span class="label label-default article-tag">Тег</span>
              <span class="label label-default article-tag">Или категория?</span>
              <span class="label label-default article-tag">А пробелы в названии можно?</span>
            </div>
            <div class="panel-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. 
              </p>
            </div>
            <div class="panel-footer text-right">
              <div class="row">
                <div class="col-md-2 col-md-offset-5">
                  <i class="material-icons small-icon">comment</i>
                  <span>0</span>
                </div>
                <div class="col-md-2">
                  <i class="material-icons small-icon">favorite</i>
                  <span>2</span>
                </div>
                <div class="col-md-3">
                  <a href="blogpost.html">Читать далее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <div class="text-left">
                <div class="row">
                  <div class="col-sm-9">
                    <h3 class="pull-left">Пост с картинкой и длинным названием</h3>
                  </div>
                  <div class="col-sm-3">
                    <h4 class="pull-right">
                      <small><em>30.07.2014</em></small>
                    </h4>
                  </div>
                </div>
              </div>
              <span class="label label-default article-tag">Тег</span>
              <span class="label label-default article-tag">Или категория?</span>
              <span class="label label-default article-tag">А пробелы в названии можно?</span>
              <span class="label label-default article-tag">Тег</span>
              <span class="label label-default article-tag">Или категория?</span>
              <span class="label label-default article-tag">А пробелы в названии можно?</span>
            </div>
            <div class="panel-body">
              <a href="blogpost.html" class="thumbnail">
                <img src="http://i.imgur.com/tAHVmXi.jpg">
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. 
              </p>
            </div>
            <div class="panel-footer text-right">
              <div class="row">
                <div class="col-md-2 col-md-offset-5">
                  <i class="material-icons small-icon">comment</i>
                  <span>1</span>
                </div>
                <div class="col-md-2">
                  <i class="material-icons small-icon">favorite</i>
                  <span>0</span>
                </div>
                <div class="col-md-3">
                  <a href="blogpost.html">Читать далее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <button id="loadmore" class="btn btn-primary" style="margin-bottom: 30px">Загрузить еще</button>
          <p class="text-muted">(здесь будет инфинит скролл)</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
