{% extends 'base.html' %}


{% block title %}
  Вакансии
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <a class="btn btn-primary" href="job_form.html">Добавить вакансию</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Вакансии</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8">
                Тут название вакансии
              </div>
              <div class="col-md-4 text-right">
                <a href="#" style="color: white">Отредактировать</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>
              <label>Город:</label>
              Москва
            </p>
            <p>
              <label>Описание:</label>
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
            </p>
            <p>
              <label>Контакты:</label>
              legitemail@email.io или что-то вроде того.
            </p>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8">
                Тут название вакансии
              </div>
              <div class="col-md-4 text-right">
                <a href="#" style="color: white">Отредактировать</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>
              <label>Город:</label>
              Москва
            </p>
            <p>
              <label>Описание:</label>
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
            </p>
            <p>
              <label>Контакты:</label>
              legitemail@email.io или что-то вроде того.
            </p>
          </div>
        </div><div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-8">
                Тут название вакансии
              </div>
              <div class="col-md-4 text-right">
                <a href="#" style="color: white">Отредактировать</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>
              <label>Город:</label>
              Москва
            </p>
            <p>
              <label>Описание:</label>
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
              Тут длинное описание вакансии.
            </p>
            <p>
              <label>Контакты:</label>
              legitemail@email.io или что-то вроде того.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <ul class="pagination">
        <li><a href="#"><span class="glyphicon glyphicon-chevron-left" style="height: 18px"></span></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">...10</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right" style="height: 18px"></span></a></li>
      </ul>
    </div>
  </div>
  {% endblock %}
