{% extends 'base.html' %}


{% block title %}
  Вход
{% endblock %}


{% block content %}
  <div class="container">
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <h2 class="text-center">Вход</h2>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="text" placeholder="Логин">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="password" placeholder="Пароль">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <!-- <input class="btn btn-primary form-control" type="submit" value="Войти"> -->
          <a class="btn btn-primary form-control" href="index.html">Войти</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <p class="text-muted">Забыли пароль? <a href="password_reset.html">Восстановить</a></p>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
