{% extends 'base.html' %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="page-header">{% block message_header %}{% endblock %}</h1>
        <p class="lead">{% block message_text %}{% endblock %}</p>
      </div>
    </div>
  </div>
{% endblock %}
