{% extends 'base.html' %}


{% block title %}
  Наши партнеры
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="page-header">Наши партнеры</h1>
      <p>Здесь какой-то текст. Вообще, внешний вид и содержание страницы надо узнать у заказчика.</p>
    </div>
  </div>
{% endblock %}
