{% extends 'base.html' %}


{% block title %}
  Сброс пароля
{% endblock %}


{% block content %}
  <div class="container">
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <h2 class="text-center">Сброс пароля</h2>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <!-- <input class="btn btn-primary form-control" type="submit" value="Сбросить"> -->
          <a class="btn btn-primary form-control" href="#">Сбросить</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
