{% extends 'base.html' %}


{% block stylesheets %}
  <link href="assets/css/image_upload_button.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}


{% block javascript %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ru.min.js"></script>
  <script type="text/javascript">
    $('#birth-date').datepicker({
      startDate: "01.01.1900",
      language: "ru",
      orientation: "bottom right"
    });
    $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        $('#avatar').text(label);
        $('#avatar').append('<input type="file" hidden>');
    });
  </script>
{% endblock %}
