{% extends 'personal_info_editing_base.html' %}


{% block title %}
  Регистрация
{% endblock %}


{% block content %}
  <div class="container">
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <h2 class="text-center">Регистрация</h2>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-4">
          <input class="form-control" type="text" placeholder="Имя" autofocus>
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" placeholder="Фамилия">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="text" placeholder="ВУЗ">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="text" placeholder="Интересы">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-md-offset-4 control-label" for="birth-date">Дата рождения:</label>
        <div class="col-md-2">
            <input class="form-control" id="birth-date" type="text" placeholder="день.месяц.год">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-md-offset-4 control-label" for="gender">Пол:</label>
        <div class="col-md-2">
          <select class="form-control" id="gender" name="gender">
            <option>Женский</option>
            <option>Мужской</option>
            <option>Другой</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-5 text-right">
          <label class="btn btn-default no-overflow-button" id="avatar">
              Загрузить аватарку <input type="file" hidden>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <!-- <input class="btn btn-primary form-control" type="submit" value="Зарегистрироваться"> -->
          <a class="btn btn-primary form-control" href="activation_message.html">Зарегистрироваться</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
